@font-face {
  font-family: 'TimesN';
  src: url('fonts/TimesN.otf');
}


html, body{
  overflow-x: hidden;
}

.line_through{
  text-decoration: line-through;
  border-bottom: 0 !important;
  cursor: text;
}

.fixed_background{
  height: 100vh;
  width: 100vw;
  background-color: #dcdcdc;
  position: fixed;
  top: 0;
  z-index: -1;
}

.process{
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #181818;
  flex-direction: column;
}


.dots{
  height: 7vw;
  border-radius: 70px;
  width: 12vw;
  border: 1px solid black;
}

.sub_dots{
  background-color: black;
  width: 1.25vw;
  height: 1.25vw;
  border-radius: 40px;
  margin: 0.25vw;
}

.sub_dots:nth-child(1){
  animation-delay: -1s;
}
.sub_dots:nth-child(2){
  animation-delay: -0.85s;
}
.sub_dots:nth-child(3){
  animation-delay: -0.7s;
}


.bubbles_container{
  display: flex;
  align-items: baseline;
  flex-direction: column;
  position: relative;
}

.bubbles_loader{
  background-color: white;
}

.bubbles{
  background-color: white;
  border-radius: 20px;
  display:inline-block;
  margin-bottom: 1vw;
  width: fit-content;
}

.bubbles_container_outer {
  width: 95vw;
  margin-bottom: 6vw;
}

.bubbles_logs{
  display: flex;
  flex-direction: column;
  margin-bottom: 3vw;
}


.bubbles h1{
  font-size: 6vw;
  padding: 3vw;
  margin: 0;
}

.bubbles h1 span{
  border-bottom: 4px solid black;
  font-family: arial;
}

.process #intro_buttons span{
  background-color: white;
  color: black;
}

.process #intro_buttons h1,
.process #intro_buttons h1:last-child
{
  color: white;
}


a{
  color: black;
  text-decoration: none;
}

.wrapper_img{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  flex-direction: column;
  padding-top: 2vw;
padding-bottom: 2vw;
background-color: black;
}

.video_wrapper{
  background-color: #101010;
  top: 0;
  width: 95vw;
  height: 100vh;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  -khtml-opacity: 0.5;
  flex-direction: column;
  padding-top: 3vw;
  padding-bottom: 3vw;
  margin-bottom: 4vw;
}

.test{
  display: block;
  position: fixed;
  top: 4vw;
  left: 5vw;
  transform: rotate(2deg);
  z-index: 0;
}

.video_wrapper:last-child{
  margin-bottom: 0;
}

.video_main{
  margin-bottom: 5vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.video_main h1{
  margin-top: 3vw;
  font-family: TimesN;
  font-size: 1.6vw;
  color: black;
  font-weight: lighter;
  text-transform: uppercase;
}

.video_main span{
  color: black;
  /* background-color: black; */
  padding: 0.3vw;
  border-bottom: 1px solid;
}

.video_wrapper_inner{
  width: 80vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.video_frame{
  padding-top: 0;
  position: absolute;
  padding: 0;
  z-index: 1;
}



.App{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  flex-direction: column;
}

.main{
  background-color: #dcdcdc;
}

.about{
  background-color: #dcdcdc;
}


.slick-slider{
  width: 80vw;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;

}

.video{
  background-color: black;
  height: 20vh;
  width: 80vw !important;
}

.slick-slider img{
  width: 100%;
}

*::selection {
    background-color: black;
    color: white;
}


.component_info h1{
  margin: 0;
  font-size: 3.7vw;
  font-family: timesN;
  font-weight: lighter;
}


.video_wrapper .vid_button{
  z-index: 10000;
  display: none;
}

.vid_button{
  background-color: transparent;
  padding: 1vw;
  border-radius: 20px;
  border: 1px solid;
  margin-left: 1vw;
}

.vid_button span{
  font-family: arial,Arial,sans-TimesN;
  color: black;
}


.flex_div{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 96vw;
}

.block{
  display: block;
  background-color: none;
}


.video_flex{
  background-color: #202020;
  top: 0;
  height: 100vh;
  width: 100vw;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}


.video_flex .component_info h1{
  color: white;
}

.video_flex .component_info span{
  color: white;
  border-bottom: 1px solid white;
}

.video_flex .vid_button{
  border: 1px solid white;
}

.video_flex .vid_button span{
  color: white;
  font-family: "arial", Arial, sans-TimesN;
  font-weight: 100;
  background-color: transparent;
  padding: 1vw;
  border-radius: 20px;
  border: none;
  margin-left: 1vw;
}

.flex_div div{
  width: 50vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex_div div img{
  width: 99%;
    margin-bottom: 1vw;
}

.fixed_pos{
  position: fixed;
  top: 0;
  width: 100vw;
  left: 1vw;
  z-index: 1;
  margin-top: 2vw;
  display: none;
}

.process_bar{
  position: absolute;
  left: 0;
  width: 0.4vw;
  height: 100vh;
  background-color: black;
  z-index: 10;
  top: 0;
  box-shadow: 0 0 75px 0 black;
  display: none;
}

.fixed_pos p{
  font-size: 1.2vw;
  font-family: "arial", Arial, sans-TimesN;
  margin: 0;
  line-height: 110%;
}

.fixed_pos p span{
  border-bottom: 1px solid;
}


.txt_about div:first-child p{
  font-size: 2vw;
font-family: timesN;
}


.desc{
  width: 100vw;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: left;
  -ms-flex-pack: center;
  justify-content: left;
  background-color: #dcdcdc;
}

.horizontal_img{
  display: flex;
align-items: center;
justify-content: center;
background-color: black;
padding: 2vw;
}

.horizontal_img_50vw{
  display: flex;
align-items: center;
justify-content: center;
width: 50%;
}

.horizontal_img_50vw img{
  width: 90%;
  box-shadow: 0 0 75px 0 #fff;
}


footer{
  width: 100vw;
  height: 20vh;
}


.horizontal_img_80vw{
  display: flex;
align-items: center;
justify-content: center;
width: 80%;
}

.horizontal_img_80vw img{
  width: 90%;
  box-shadow: 0 0 75px 0 #fff;
}


.desc span{
  border-bottom: 1px solid black;
}

.big_img{
  width: 70vw;
}


.desc p{
  font-size: 1.4vw;
  font-family: arial;
  margin: 1vw;
}

.poster_project{
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  padding: 3vw;
  margin-top: 1vw;
  margin-bottom: 2vw;
}

.poster_project div{
  width: 31.3%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.poster_project div img{
  width: 98.5%;
}



.video_project{
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100vw;
  background-color: #dcdcdc;
  -ms-flex-direction: column;
  flex-direction: column;
  position: relative;
}

.component_info h1 span{
  border-radius: 10px;
  font-size: 1.6vw;
  text-transform: uppercase;
  border: 1px solid;
  padding: 0.3vw;
  background-color: black;
  color: black;
  font-family: arial;
  font-weight: lighter;
}


.gene_wrapper{
  width: 100vw;
  height: 100vh;
  /* background-color: #303030; */
  margin-bottom: 2vw;
}


#intro_text{
  position: absolute;
  width: 95vw;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  margin-top: 6vw;
  display: none;
}

#intro_text span{
  font-size: 1.6vw;
  color: black;
  padding: 0.5vw;
  font-family: sans-TimesN;
  width: 40vw;
}


#intro_buttons{
  margin-top: 4vw;
  margin-bottom: 4vw;
  display: flex;
  align-items: center;
  width: 95vw;
}

#intro_buttons span{
  font-family: TimesN;
  font-size: 1.6vw;
  margin: 0.4vw;
  background-color: black;
  color: white;
  padding: 0.5vw;
  border-radius: 10px;
}

#intro_buttons h1{
  font-weight: lighter;
  margin-right: 0;
  background-color: transparent;
  color: black;
  border-radius: 0;
  font-family: arial;
  margin-top: 0;
  margin-bottom: 0;
}

#intro_buttons h1:last-child{
  font-weight: lighter;
  margin-right: 0;
  background-color: transparent;
  color: black;
  border-radius: 0;
  /* font-size: 1.8vw; */
  /* font-family: TimesN; */
  font-family: arial;
  border-bottom: none;
  margin-top: 0;
  margin-bottom: 0;
}

.process #intro_buttons{
  margin-bottom: 4vw;
}


.process .video_main span{
  border-bottom: none;
  color: white;
  font-family: arial;
}


.process #intro_buttons:last-child{
  margin: 0;
  margin-bottom: 6vw;
}

.process .video_main h1{
  margin-bottom: 3vw;
  color: white;
  margin: 0;
}

.process #intro_buttons:last-child h1{
  font-family: TimesN;
}

.process #intro_buttons:last-child h1:first-child{
  font-family: arial;
  margin-bottom: 1vw;
}

#intro_buttons .left_buttons{
  display: flex;
  align-items: baseline;
  width: 40%;
}


#intro_buttons h1 span{
  background-color: black;
  color: white;
  border-radius: 10px;
  padding: 0.2vw;
}

.footer{
  margin-top: 0;
  margin-bottom: 1vw;
  align-items: baseline;
}

.footer h1{
    font-family: garamond;
    text-transform: uppercase;
    margin: 0;
  }

  .footer h2{
      margin: 0;
    }

.footer span{
  text-transform: uppercase;

}

.footer .flex_div{
  justify-content: normal;
}

.footer .flex_div:last-child{
  display: block;
}


.txt_about{
  display: flex;
  align-items: baseline;
  justify-content: center;
  width: 95vw;
}

.txt_about div:first-child{
  width: 70%;
}


.about #intro_buttons span{
  color: #dcdcdc;
  background-color: black;
}


.about .right_buttons{
  display: none;
}

.txt_about div:last-child{
  width: 30%;
}


.big_title{
  background-color: #dcdcdc;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.big_title h1{
  margin-bottom: 1.5vw;
  width: 50vw;
  font-size: 3vw;
  font-family: "arial", Arial, sans-TimesN;
  display: list-item;
  list-style-type: disc;
  list-style-position: inside;
  text-shadow: 1px 2px 20px #fff;

}


.dyptich_project{
width: 100vw;
display: flex;
align-items: center;
justify-content: center;
position: relative;
padding: 2vw;
-ms-flex-direction: column;
flex-direction: column;
position: relative;
padding-bottom: 4vw;

}


#project p{
  font-family: Garamond,Baskerville,Baskerville Old Face,Hoefler Text,Times New Roman,TimesN;
  color: #000;
  background-color: transparent;
  font-size: 1.7vw;
  width: 50vw;
  border-bottom: 1px solid #000;
  margin: 0;
  margin-top: 4vw;
  margin-bottom: 4vw;
  display: none;

}

.video_project main{
  width: 70vw;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.video_project main div{
  width: auto !important;
  height: auto !important;
}


video{
  width: 99%;
  height: 100%;
  margin-bottom: 1vw;
  box-shadow: 0 0 75px 0 black;
}

.component_info p{
  font-family: Garamond,Baskerville,Baskerville Old Face,Hoefler Text,Times New Roman,TimesN;
  color: #000;
  background-color: transparent;
  font-size: 1.7vw;
  border-bottom: 1px solid #000;
  margin: 0;
  margin-top: 2vw;
}

.component_info{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 5vw;
  margin-bottom: 5vw;
  width: 76vw;
}


.single_span{
  border-bottom: 1px solid;
    color: black;
    font-family: "arial", Arial, sans-TimesN;
    font-size: 1.5vw;
}


.img_project{
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-color: white;
  -ms-flex-direction: column;
  flex-direction: column;
}

.wrapper_etienne{
  width: 100vw;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2vw;
  padding-bottom: 2vw;
}



/* IPHONE PORTRAIT */
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {

  *{
    font-size: 4vw;
  }

  #intro_buttons{
        border-bottom: 1px solid;
        margin-bottom: 0;
        padding-bottom: 9vw;
  }



  .flex_div{
    flex-direction: column;
  }

  .flex_div div{
    width: 90vw;
  }

  .component_info h1{
    font-size: 4vw;
    text-align: center;
    width: 86vw;
  }

  .component_info h1 span{
    display: block;
    border-bottom: none;
    font-size: 4vw;
  }

}
