@font-face {
  font-family: 'GRI';
  src: url('fonts/GlossyDisplay-Regular-Italic.otf');
}


@font-face {
  font-family: 'NHaasGroteskTXPro-55Rg';
  src: url('fonts/NHaasGroteskTXPro-55Rg.otf');
}

@font-face {
  font-family: 'Inconsolata';
  src: url("fonts/Inconsolata.otf");
}


*{
  outline:0;
  -webkit-overflow-scrolling: touch;
}


html{
  background-color: blue;
}

body{
  overflow-x: hidden;
  background-color: white;
  width: 100vw;
}

.spans_container{
  display: block;
  margin-bottom: 3vw;
}

.spans_container p{
    margin: 0;
    font-size: 3vw;
}

.ag-snow-fall {
  width: 100vw;
  height: 100%;
  background-color: #000;
}


.logs_first_fold{
  height: 100vh;
  width: 100vw;
  background-color: lightgreen;
  color: black;
  -ms-flex-pack: center;
      justify-content: center;
  display: none;
}

.logs_first_fold_inner{
  width: 95vw;
}

.logs_first_fold .logs_first_fold_inner div{
  font-weight: bolder;
  font-size: 1.3vw;
  color: black;
  display: inline-block;
  padding: 1.3vw;
}


.about .intro_buttons{
  position: fixed;
  bottom: 0;
  padding-bottom: 1vw;
  border-top: 1px solid;
  padding-top: 1vw;
  background-color: #dcdcdc;
  margin: 0;
}

.line_through{
  text-decoration: line-through;
  border-bottom: 0 !important;
  cursor: text;
}

.background_info{
  width: 95vw;
  margin-top: 1vw;
  font-size: 3.8vw;
  font-family: GRI;
  margin-top: 4vw;
}

.fixed_background{
  height: 100vh;
  width: 100%;
  background-color: #dcdcdc;
  position: fixed;
  top: 0;
  z-index: -1;
}

.process{
  width: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  background-color: #dcdcdc;
  -ms-flex-direction: column;
      flex-direction: column;
  padding-top: 6vw;
}

.dots_container{
  background-color: black;
  width: 10vw;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  height: 20vh;
  border-radius: 40px;
}


.dots{
  height: 7vw;
  border-radius: 70px;
  width: 11.6vw;
  border: 1px solid black;
}

.sub_dots{
  background-color: black;
  width: 1vw;
  height: 1vw;
  border-radius: 40px;
  margin: 0.25vw;
}

.sub_dots:nth-child(1){
  -webkit-animation-delay: -1s;
          animation-delay: -1s;
}
.sub_dots:nth-child(2){
  -webkit-animation-delay: -0.85s;
          animation-delay: -0.85s;
}
.sub_dots:nth-child(3){
  -webkit-animation-delay: -0.7s;
          animation-delay: -0.7s;
}


.bubbles_container{
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: baseline;
      align-items: baseline;
  -ms-flex-direction: column;
      flex-direction: column;
  position: relative;
}

.bubbles_loader{
  background-color: black;
}

.bubbles{
  background-color: black;
  border-radius: 20px;
  display:inline-block;
  margin-bottom: 1vw;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  pbox-shadow: 0 0 75px 0 black;
}

.bubbles_container_outer {
  width: 95vw;
  margin-bottom: 1vw;
}

.bubbles_logs{
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
}


.bubbles h1{
  font-size: 5vw;
  padding: 3vw;
  margin: 0;
  font-weight: 100;
  font-family: GRI;
}

.internet{
  color: blue;
}


.about_text{
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: baseline;
      align-items: baseline;
  -ms-flex-direction: column;
      flex-direction: column;
  width: 95vw;
  border-top: 1px solid black;
}

.display_process{
  position: fixed;
  width: 100vw;
  height: auto;
  z-index: 1000;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  top: 0;
  border-radius: 10px;
  margin: 0;
  -webkit-animation: scale_firstBackground 10s infinite;
          animation: scale_firstBackground 10s infinite;
}


 .random_display_0{
   font-family: zapfino;
  text-transform: uppercase;
  font-weight: 100;
  color: red;
  text-align: center;
  text-shadow: 1px 2px 20px black;
  padding: 1.5vw;
  text-transform: capitalize;
  -webkit-transform: rotate(5deg);
      -ms-transform: rotate(5deg);
          transform: rotate(5deg);
}

.random_display_1{
  font-family: zapfino;
 text-transform: uppercase;
 font-weight: 100;
 color: red;
 text-align: center;
 text-shadow: 1px 2px 20px black;
 padding: 1.5vw;
 text-transform: capitalize;
 -webkit-transform: rotate(2deg);
     -ms-transform: rotate(2deg);
         transform: rotate(2deg);
}

.random_display_2{
font-family: zapfino;
 text-transform: uppercase;
 font-weight: 100;
 color: red;
 text-align: center;
 text-shadow: 1px 2px 20px black;
 padding: 1.5vw;
 text-transform: capitalize;
 -webkit-transform: rotate(5deg);
     -ms-transform: rotate(5deg);
         transform: rotate(5deg);
}

.random_display_3{
  font-family: zapfino;
 text-transform: uppercase;
 font-weight: 100;
 color: red;
 text-align: center;
 text-shadow: 1px 2px 20px black;
 padding: 1.5vw;
 text-transform: capitalize;
 -webkit-transform: rotate(5deg);
     -ms-transform: rotate(5deg);
         transform: rotate(5deg);
}

.random_display_4{
  font-family: zapfino;
 text-transform: uppercase;
 font-weight: 100;
 color: red;
 text-align: center;
 text-shadow: 1px 2px 20px black;
 padding: 1.5vw;
 text-transform: capitalize;
 -webkit-transform: rotate(5deg);
     -ms-transform: rotate(5deg);
         transform: rotate(5deg);
}

.random_display_5{
  font-family: zapfino;
 text-transform: uppercase;
 font-weight: 100;
 color: red;
 text-align: center;
 text-shadow: 1px 2px 20px black;
 padding: 1.5vw;
 text-transform: capitalize;
 -webkit-transform: rotate(5deg);
     -ms-transform: rotate(5deg);
         transform: rotate(5deg);
}

.random_display_6{
  font-family: zapfino;
 text-transform: uppercase;
 font-weight: 100;
 color: red;
 text-align: center;
 text-shadow: 1px 2px 20px black;
 padding: 1.5vw;
 text-transform: capitalize;
 -webkit-transform: rotate(5deg);
     -ms-transform: rotate(5deg);
         transform: rotate(5deg);
}

.random_display_7{
  font-family: zapfino;
 text-transform: uppercase;
 font-weight: 100;
 color: red;
 text-align: center;
 text-shadow: 1px 2px 20px black;
 padding: 1.5vw;
 text-transform: capitalize;
 -webkit-transform: rotate(5deg);
     -ms-transform: rotate(5deg);
         transform: rotate(5deg);
}

.random_display_8{
  font-family: zapfino;
   text-transform: uppercase;
   font-weight: 100;
   color: red;
   text-align: center;
   text-shadow: 1px 2px 20px black;
   padding: 1.5vw;
   text-transform: capitalize;
   -webkit-transform: rotate(5deg);
       -ms-transform: rotate(5deg);
           transform: rotate(5deg);
}

.random_display_9{
  font-family: zapfino;
 text-transform: uppercase;
 font-weight: 100;
 color: red;
 text-align: center;
 text-shadow: 1px 2px 20px black;
 padding: 1.5vw;
 text-transform: capitalize;
 -webkit-transform: rotate(5deg);
     -ms-transform: rotate(5deg);
         transform: rotate(5deg);
}

.about_container{
  background-color: #f8f8f8;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100vw;
}

.about_container main span{
  display: block;
font-family: GRI;
color: red;
font-size: 4vw;
}



.about_container main span:last-child{
  font-family: "GRI";
}

.about_container main span:last-child a{
  text-decoration: underline;
}


.about_container .header_container{
  align-items: baseline;
  padding-top: 2vw;
  flex-direction: row;
}

.about_container .header_container section{
  margin-bottom: 1vw;
  width: auto;
}

.about_container_inner{
  width: 95vw;
  margin-bottom: 2vw;
}

.about_container div h1{
  margin: 0;
  background-color: #f8f8f8;
  border-radius: 50px;
  font-family: GRI;
  font-size: 2.7vw;
  font-weight: 100;
  color: black;
  margin-bottom: 2vw;
}

.about_container div h1:nth-child(odd){
  font-family: Inconsolata;
  color: red;
}

.process .intro_buttons span{
  background-color: black;
  color: black;
}

.process .intro_buttons h1,
.process .intro_buttons h1:last-child
{
  color: black;
}


.left_buttons{
  /* width: 50%; */
}

.right_buttons{
  width: 50%;
  border-bottom: 1px solid;
  padding-bottom: 6vw;
}


  .about_render_container{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: transparent;
    z-index: 10000;
    cursor: pointer;
  }

header > a{
  color: white;
  font-weight: lighter;
  margin: 0;
  text-decoration: none;
}

header > a:visited,
header > a::after{
  color: white;
}

.left_buttons a,
.left_buttons a:hover,
.left_buttons a:visited{
  color: black;
}

.wrapper_img{
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  width: 100%;
  -ms-flex-direction: column;
      flex-direction: column;
  padding-top: 1.6vw;
padding-bottom: 1.6vw;
background-color: black;
}


.video_wrapper{
  background-color: #101010;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 10;
  display: -ms-flexbox;
  display: flex;
      align-items: center;
      justify-content: center;
  -khtml-opacity: 0.5;
  -ms-flex-direction: column;
      flex-direction: column;
  padding-bottom: 3vw;
  padding-top: 3vw;
  margin-bottom: 6vw;
  -webkit-box-shadow: 6px 10px 17px 0;
          box-shadow: 6px 10px 17px 0;
}



.test{
  display: block;
  position: fixed;
  top: 4vw;
  left: 5vw;
  -webkit-transform: rotate(2deg);
      -ms-transform: rotate(2deg);
          transform: rotate(2deg);
  z-index: 0;
}

.video_wrapper:last-child{
  margin-bottom: 0;
}


.about_divs span{
  font-size: 3vw;
}

.video_main{
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-direction: column;
      flex-direction: column;
}


.video_main h1,
.video_main span{
  font-family: GRI;
  font-size: 6vw;
  font-weight: lighter;
  margin: 0;
}


.info_video{
  display: -ms-flexbox;
  display: flex;
  align-items: baseline;
  width: 82%;
  margin-bottom: 3vw;
  padding-bottom: 1.5vw;
}

.info_video div:first-child{
  width: 80%;
}


.info_video div:last-child span{
  font-family: GRI;
  font-size: 2vw;
  font-weight: lighter;
  margin: 0;
  text-transform: lowercase;
}

.about_render{
  position: fixed;
  right: 0;
  top: 0;
  width: 75vw;
  padding: 1.5vw;
  height: 100vh;
  background-color: #f8f8f8;
  z-index: 10;
  border-left: 1px solid black;
}

.about_render h1{
  font-family: GRI;
  font-weight: 100;
  color: black;
  font-size: 2vw;
  border-bottom: 1px solid black;
  padding-bottom: 1.5vw;
  padding-top: 1.5vw;
  margin: 0;
}


.about_render h1:last-child{
  border-bottom: 0;
}

.about_render span{
  font-family: times;
  border-bottom: 1px solid;
  font-size: 1.5vw;
  line-height: 1;
}

.additional_screens{
  width: 95vw;
  margin-bottom: 6vw;
  display: none;
}


.additional_screens_inner div{
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  padding: 1.5vw;
  background-color: transparent;
  border-right: 1px solid;
  border-bottom: 1px solid;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 45.7%;
  }


.additional_screens_inner div:nth-child(2n){
  border-right: 0
}


.additional_screens_inner div:nth-last-child(-n+2) {
  border-bottom: 0;
}

.additional_screens_inner img{
  width: 80%;
  padding: 1.5vw;
  background-color: #101010;
  -webkit-box-shadow: 2px 2px 17px 0;
          box-shadow: 2px 2px 17px 0;
}

.video_wrapper_inner{
  width: 82vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.video_frame{
  padding-top: 0;
  position: absolute;
  padding: 0;
  z-index: 1;
}

.video_stills_mobile{
  display: none;
  width: 82vw;
}

.video_stills_mobile img{
  width: 100%;
  margin-bottom: 3vw;
}

.archives_inner{
  background-color: black;
}

header .main .header_container section:first-child{
  flex-direction: column;
}

.archives_inner .header_container section{
  flex-direction: row;
}

.archives_inner .header_container section h1{
  color: white;
  font-size: 2vw;
  width: auto;
}

.archives_inner .header_container section h1 span{
  color: red;
  background-color: white;
}


.header_container{
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  width: 100vw;
  flex-direction: column;
  padding-top: 3vw;
  padding-bottom: 3vw;
  background-color: white;
}


.footer_last_published{
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
}

.footer_last_published div{
  font-family: 'GRI';
  color: white;
  width: 82vw;
  margin: 1vw;
}

.header_container section{
  width: 82vw;
  margin-bottom: 2vw;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: baseline;
      align-items: baseline;
}

.video_two_columns_info,
.two_columns_info{
  display: flex;
  width: 82vw;
  margin-bottom: 8vw;
}

header .two_columns_info div:first-child{
  width: 60%;
}

footer .two_columns_info{
  border-bottom: 1px solid white;
  padding-bottom: 2vw;
}

footer .two_columns_info div{
  width: 50%;
  padding: 0;
  border: none;
}

footer .two_columns_info div:last-child{
  width: 50%;
  padding: 0;
  padding-left: 2vw;
}

.video_two_columns_info div{
  width: 100%;
}


.two_columns_info div:first-child{
  border-right: 1px solid;
}

header .two_columns_info div:last-child{
  padding-left: 2vw;
}

.two_columns_info div:first-child,
.video_two_columns_info div{
  padding-right: 2vw;
  font-family: 'GRI';
}

.two_columns_info{
  color: black;
  font-size: 1.3vw;
  font-weight: 700;
}

.video_two_columns_info div{
  color: black;
  font-size: 1.3vw;
  font-weight: 700;
}

.two_columns_info div:last-child{
  padding-right: 2vw;
  font-family: "GRI";
  font-size: 1.3vw;
  font-weight: 700;
  color: black;
}

.header_container .section_header_info span{
  background-color: black;
  color: white;
  border-radius: 50px;
  margin: 0.5vw;
  margin-left: 0;
  font-size: 1.2vw;
  padding: 1vw;
  font-family: Inconsolata;
}


.toggle_en_fr{
  position: fixed;
  right: 0;
  bottom: 0;
  margin: 2vw;
  background-color: blue;
  padding: 1vw;
  color: white;
  z-index: 100;
  border-radius: 50px;
  font-family: 'Inconsolata';
  cursor: pointer;
  text-transform: uppercase;
}

.header_container section h1{
  font-size: 3vw;
  font-family: "GRI";
  letter-spacing: 0.2px;
  width: 100%;
  font-weight: 100;
  margin: 0;
  padding-bottom: 1vw;
  color: black;
}

.header_container .header_headline span{
  border-bottom: 1px solid white;
}

.App{
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  width: 100%;
  -ms-flex-direction: column;
      flex-direction: column;
}
/*
.main{
  background-color:  #f8f8f8;
} */

.iddle{
  background-color:  #6d6d6d;
  width: 100vw;
}

.iddle .intro_buttons{
  border-bottom: 1px solid black;
}

.iddle .iddle_img_div svg{
  -webkit-filter: invert(1);
          filter: invert(1);
}

.scrolling_data{
  position: fixed;
  padding: 1vw;
  font-size: 2vw;
  z-index: 10000;
  font-family: Inconsolata;
  font-weight: lighter;
  border-radius: 10px;
  color: black;
}

.iddle_img_div{
  width: 25vw;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  padding-top: 1.5vw;
  padding-bottom: 1.5vw;
  -ms-flex-direction: column;
      flex-direction: column;
}

.iddle_img_div img{
  width: 80%;
}

.iddle_img_div span{
  margin-top: 1vw;
  font-family: Inconsolata;
  text-align: center;
  word-break: break-all;
  max-width: 80%;
  font-size: 1.1.5vw;
}

.about_container main span:last-child a{
  color: red;
}

.about{
  background-color: #dcdcdc;
}

.user_inactive{
  background-color: #dcdcdc;
  height: 100vh;
  width: 100vw;
  position: fixed;
  overflow: hidden;
}

.user_inactive h1{
  text-align: center;
  font-size: 5.6vw;
  -webkit-text-stroke: 1px black;
  color: transparent;
  font-family: times;
  font-weight: bolder;
  //animation: scale_firstBackground 10s infinite;
}


.video{
  background-color: black;
  height: 20vh;
  width: 80vw !important;
}

.slick-slider{
  background-color: transparent;
  width: 50vw;
  color: black;
  height: 50vh;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
}

*::-moz-selection {
    background-color: black;
    color: black;
}

*::selection {
    background-color: black;
    color: black;
}


.component_info h1{
  margin: 0;
  font-size: 3.7vw;
  font-family: GRI;
  font-weight: lighter;
}




footer{
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}




footer section div h1{
  margin: 0;
  font-family: GRI;
  font-weight: lighter;
  font-size: 1.6vw;
  text-transform: uppercase;
  color: #181818;
}

footer section div span{
  margin: 0;
  font-family: "GRI";
  font-weight: lighter;
  font-size: 1.55vw;
  letter-spacing: -0.1px;
  color: white;
}

.intro_buttons{
  margin-top: 3vw;
  margin-bottom: 3vw;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  width: 95vw;
  -ms-flex-direction: column-reverse;
      flex-direction: column-reverse;
}

.intro_buttons span{
  margin: 0.4vw;
  color: black;
  font-size: 1.5vw;
  font-family: GRI;
}



.intro_buttons h1{
  font-weight: lighter;
  margin-right: 0;
  background-color: transparent;
  color: black;
  border-radius: 0;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.5vw;
  font-family: GRI;
  text-align: center;
  line-height: 1.4;
  margin-bottom: 1.5vw;
}


.intro_buttons h1:last-child{
  margin-bottom: 0;
}



.process .intro_buttons{
  margin-bottom: 4vw;
}


.process .video_main span{
  border-bottom: none;
  color: black;
  font-size: 1.6vw;
}


.process .intro_buttons:last-child{
  margin: 0;
  margin-bottom: 6vw;
}

.process .video_main h1{
  margin-bottom: 3vw;
  color: black;
}

.process .intro_buttons:last-child h1{
  font-family: GRI;
  color: black;
}

.process .intro_buttons:last-child h1:first-child{
  margin-bottom: 1vw;
  font-size: 1.7vw;
  color: black;
}

.intro_buttons .left_buttons{
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: baseline;
      align-items: baseline;
  margin-top: 3vw;
}

.horizontal_display_footer{
  margin-top: 2vw;;
}

.horizontal_footer_info{
  display: flex;
  align-items: baseline;
}

.horizontal_footer_info div{
  width: 32%;
  margin: 1%;
}

.horizontal_footer_info div:first-child{
  margin-left: 0;
}


.horizontal_footer_info div:last-child span a{
  color: blue;
}

.horizontal_display_footer img{
  width: 32%;
  margin: 1%;
  box-shadow: 0 0 75px 0 black;
}

.horizontal_display_footer img:first-child{
  margin-left: 0;
}

.horizontal_display_footer img:last-child{
  margin-right: 0;
}

footer{
  background-color: #101010;
}

footer h2{
  font-family: "GRI";
  font-size: 3vw;
  color: blue;
  margin: 0;
  margin-bottom: 5vw;
}

footer section{
  width: 82vw;
  display: -ms-flexbox;
  margin-top: 3vw;
  margin-bottom: 3vw;
}


.about .intro_buttons span{
  color: #dcdcdc;
  background-color: black;
}

.inactive_logs{
  background-color: black;
}

.inactive_logs .bubbles_container_outer{
  margin-top: 1vw;
}


.about .right_buttons{
  display: none;
}


.skewImages{
  -webkit-animation: skewImages 2s infinite;
          animation: skewImages 2s infinite;
}


video{
  width: 99%;
  height: 100%;
  margin-bottom: 1vw;
  -webkit-box-shadow: 0 0 75px 0 black;
          box-shadow: 0 0 75px 0 black;
}


@-webkit-keyframes scale_firstBackground {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
}

  50% {
      -webkit-transform: scaleY(.8);
              transform: scaleY(.8);
  }
  100% {
      -webkit-transform: scale(1);
              transform: scale(1);
  }
}


@keyframes scale_firstBackground {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
}

  50% {
      -webkit-transform: scaleY(.8);
              transform: scaleY(.8);
  }
  100% {
      -webkit-transform: scale(1);
              transform: scale(1);
  }
}

/* IPHONE PORTRAIT */

@-webkit-keyframes skewImages {
0%, 11.1%, 100% {
    -webkit-transform: none;
            transform: none;
}
22.2% {
    -webkit-transform: skewX(-12.5deg) skewY(-12.5deg);
            transform: skewX(-12.5deg) skewY(-12.5deg);
}
33.3% {
    -webkit-transform: skewX(6.25deg) skewY(6.25deg);
            transform: skewX(6.25deg) skewY(6.25deg);
}
44.4% {
    -webkit-transform: skewX(-3.125deg) skewY(-3.125deg);
            transform: skewX(-3.125deg) skewY(-3.125deg);
}
55.5% {
    -webkit-transform: skewX(1.5625deg) skewY(1.5625deg);
            transform: skewX(1.5625deg) skewY(1.5625deg);
}
66.6% {
    -webkit-transform: skewX(-.78125deg) skewY(-.78125deg);
            transform: skewX(-.78125deg) skewY(-.78125deg);
}
77.7% {
    -webkit-transform: skewX(.390625deg) skewY(.390625deg);
            transform: skewX(.390625deg) skewY(.390625deg);
}
88.8% {
    -webkit-transform: skewX(-.1953125deg) skewY(-.1953125deg);
            transform: skewX(-.1953125deg) skewY(-.1953125deg);
}
}

@keyframes skewImages {
0%, 11.1%, 100% {
    -webkit-transform: none;
            transform: none;
}
22.2% {
    -webkit-transform: skewX(-12.5deg) skewY(-12.5deg);
            transform: skewX(-12.5deg) skewY(-12.5deg);
}
33.3% {
    -webkit-transform: skewX(6.25deg) skewY(6.25deg);
            transform: skewX(6.25deg) skewY(6.25deg);
}
44.4% {
    -webkit-transform: skewX(-3.125deg) skewY(-3.125deg);
            transform: skewX(-3.125deg) skewY(-3.125deg);
}
55.5% {
    -webkit-transform: skewX(1.5625deg) skewY(1.5625deg);
            transform: skewX(1.5625deg) skewY(1.5625deg);
}
66.6% {
    -webkit-transform: skewX(-.78125deg) skewY(-.78125deg);
            transform: skewX(-.78125deg) skewY(-.78125deg);
}
77.7% {
    -webkit-transform: skewX(.390625deg) skewY(.390625deg);
            transform: skewX(.390625deg) skewY(.390625deg);
}
88.8% {
    -webkit-transform: skewX(-.1953125deg) skewY(-.1953125deg);
            transform: skewX(-.1953125deg) skewY(-.1953125deg);
}
}



@media only screen and (max-width: 545px) {

  .App{
    background-color: black;
  }

  *{
    -webkit-overflow-scrolling: touch;
  }

  .horizontal_display_footer img{
    width: 100%;
  }

  header .two_columns_info div:first-child{
    width: 100%;
  }

  .header_container section h1:last-child{
    width: 100%;
  }

  .scrolling_data{
    display: none;
  }

  .header_container section h1{
    font-size: 6vw;
  }


  .iddle_img_div{
    width: 50vw;
  }

  .iddle_img_div img{
    width: 88%;
  }


  .header_container .section_header_info span{
    background-color: black;
    color: white;
    border-radius: 10px;
    padding: 3vw;
    font-family: GRI;
    font-size: 3vw;
    margin-right: 2vw;
  }

  .header_container{
    padding-top: 7vw;
    padding-bottom: 7vw;
    background-color: #323232;
    margin-bottom: 11vw;
  }


  footer h2{
    font-size: 6vw;
  }


  .footer_last_published{
    padding-top: 3vw;
    padding-bottom: 3vw;
  }

  .horizontal_footer_info div{
    width: 100%;
  }

  footer section div a{
    display: none;
  }

  footer section div span{
    font-size: 4vw;
  }

  .header_container section{
    margin-bottom: 4vw;
  }

  .toggle_en_fr{
    font-size: 4vw;
    padding: 2vw;
  }


  .intro_buttons h1{
    font-size: 5vw;
  }

  .intro_buttons h1 span:last-child{
    display: none;

  }

  .video_main{
    flex-direction: column-reverse;
    width: 83vw;
  }

  .two_columns_info div:first-child{
    border-right: none;
  }

  .header_container section:nth-child{
    flex-direction: column;
  }

  .header_container section:nth-child(1){
    flex-direction: row;
  }

  header .two_columns_info div:last-child{
    display: none;
  }

  .two_columns_info div:first-child{
    width: 100%;
  }

  .two_columns_info div:first-child, .video_two_columns_info div,
  .two_columns_info div:last-child{
    font-size: 4vw;
    padding: 0;
    padding-bottom: 4vw;
    color: white;
  }

  .info_video{
    margin-bottom: 20vw;
  }


  .right_buttons{
    width: 90%;
  }

.intro_buttons span{
  font-size: 3vw;
}


  .video_wrapper{
    display: none;
    height: 40vh;
  }

  .horizontal_display_footer img:last-child{
    display: none;
  }

  .info_video{
    display: block;
    width: 100%;
  }

  .video_stills_mobile{
    display: block;
  }


  .video_main h1,
  .info_video div:last-child{
    font-size: 6vw;
    text-align: left;
    width: auto;
  }


  .about_container main span{
    display: block;
    font-family: GRI;
    color: red;
    font-size: 6vw;
  }


  .info_video div:last-child span{
    color: black;
    font-size: 5vw;
    text-align: center;
  }

}
